body {
    background-color: #ffffff;
	margin: 0;
}
h1 {
	color: purple;
}
.container {
	width: 900px;
	margin: auto;
}
.half_container {
	width: 50%;
}
audio {	
	margin: 0 auto;
	padding-bottom: 50px;
}
.half_container_left iframe {
	margin: 0 auto;
	float: left;
}
.half_container_right iframe {
	margin: 0 auto;
	float: right;
}
.media {
	padding-bottom: 50px;
	width: 900px;
	margin: auto;
}
iframe {
	margin: auto;
}
#spotify {
	margin: auto;
	padding-left: 30px;
}

